@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&family=Rancho&display=swap');

.review-article-container {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    font-weight: bold;
}

.review-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 2vh;
    border-bottom: solid #ccc 1px;
    margin-bottom: 100px;
}



.review-container-helper {
    width:800px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;

    font-weight: bold;
    font-size: 14px;
}

.review-container-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2%;
    padding-top: 3%;
}


.product-name-options,
.review-image {
    padding: 10px 30px;
}

.review-head,
.review-rate,
.review-content,
.review-button-container {
    padding: 10px 50px;
}


.review-container {
    border: solid #ccc 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -1px;
}

.review-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.review-button-container {
    margin-bottom: 10px;
}

.update-button,
.delete-button {
    background-color: white;
    border: solid #ccc 1px;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
}

.product-name-options {
    display: flex;
}

.image-box {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    cursor: pointer;
}


.options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 20px;
}
  
.product-name {
    display: inline-block;

}

.options {
    display: inline-block;
    margin-top: 2px;
    color: #999;
}


.review-rate {
    font-size: 18px;
}

.review-image-unit {
    width: auto;
    max-height: 250px;
    margin: 15px 15px;
}

.review-date {
    color: #999;
}



/* 별점 css */
.star {
    position: relative;
    font-size: 18px;
    color: #eee;
}

.star-color {
    /* width: 30%; */
    position: absolute;
    left: 0;
    color: #FFB900;
    overflow: hidden;
    pointer-events: none;
}




/******************** 모달 ***********************/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
    position: absolute;
    background-color: #fff;
    width: 500px;
    height: 750px;
    padding: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modalBox button {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.hidden {
    display: none;
}


.modal-title,
.modal-rate-container,
.modal-content-container,
.modal-image-container,
.review-register-container {
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 14px;
    /* border: solid black 1px; */
}

.exit-button {
    right: 10px;    
    position: absolute;
    cursor: pointer;
}

.modal-title {
    height: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: solid #ccc 1px;
}

.modal-kor {
    font-weight: bold;
    margin-bottom: 2%;
    display: inline-block;
    margin-right: 8%;
}

.content-value {
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    border:solid #ccc 1px;
}

.input-file {
    font-size: 12px;
}

.review-register-button {
    font-size: 1.1rem;
    font-weight: bold;
    width: 30%;
    height: 5%;
    padding: 10px 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #474747;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.review-register-button:hover {
    background-color: #000;
}



/* 이미지 관련 */
.modal-image-unit {
    max-width: 28%;
    height: auto;
    margin: 2% 2%;
}

.modal-image-container {
    margin-top: 6%;
}

.modal-images {
    margin-top: 3%;
}



/* 별점 관련 */
.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star .span {
    width: 0;
    position: absolute;
    left: 0;
    color: #FFB900;
    overflow: hidden;
    pointer-events: none;
}


/* 모달 스크롤바 디자인 */
.modalBox::-webkit-scrollbar {
    width: 10px;
}

.modalBox::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.modalBox::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}