@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&family=Rancho&display=swap');

.order-container {
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    font-weight: bold;
}

.order-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 15px;
    margin-left: 20px;
}


.order-date-container {
    border-bottom: solid #ddd 1px;
    padding-bottom: 17px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.order-date {
    margin-left: 20px;
}

/* 수령자 정보, 상품 정보 컨테이너 */
.recipient-info-container,
.product-info-container {
    font-size: 13px;
    margin-top: 60px;
}


/* 수령자 정보, 상품 정보 헤더 글자 */
.recipient-header-eng,
.product-header-eng,
.payment-header-eng {
    font-size: 1.2rem;
    margin-left: 20px;
}

.recipient-header-kor,
.product-header-kor,
.payment-header-kor {
    font-size: 0.7rem;
    padding-left: 5px;
    color: #777;
}

.recipient-container {
    margin-top: 17px;
}

/* 수령인, 휴대전화, 배송지 주소 컨테이너 */
.recipient-info-all {
    padding: 10px 20px;
}

/* 휴대전화 컨테이너 */
.phone-container {
    margin: -1px 0px;
}


/* 수령자 정보 왼쪽 글자들 박스 */
.recipient-info-kor {
    display: inline-block;
    width: 200px;
}

.recipient-info-all span {
    display: block;
}

.recipient-info-all:first-of-type {
    border-top: solid #ddd 1px;
}

.recipient-info-all:last-of-type {
    border-bottom: solid #ddd 1px;
    padding-bottom: 20px;
}

.recipient-info-all span:first-of-type {
    margin-bottom: -5px;
}

.recipient-info-all span:last-of-type {
    margin-top: 10px;
    font-size: 11.5px;
    color: #999;
}


/******************상품정보*******************/
.items-container {
    margin-top: 17px;
}

.items-header {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    text-align: center;
    padding: 15px 0px;
    font-size: 12.5px;
    font-weight: bold;
    border: solid #ddd 1px;
    margin-top: -1px;
}

.item-container {
    display: grid;
    grid-template-columns: 1fr 90px;
    grid-template-areas: 
        "pno osb"
        "pq tp";
    place-items: start;
    text-align: center;
    font-size: 12.5px;
    font-weight: bold;
    border: solid #ddd 1px;
    margin-top: -1px;
}

.product-name-options { grid-area: pno }
.product-quantity { grid-area: pq }
.total-price { grid-area: tp }
.order-state-box { grid-area: osb }

.product-name-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
}

.order-state-box {
    padding-top: 20px;
    font-size: 11.5px;
}

.image-box {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    cursor: pointer;
}

.options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 20px;
}

.product-name {
    display: inline-block;
}

.options {
    display: inline-block;
    margin-top: 2px;
    color: #777;
}

.order-state-link:hover {
    color: #485fc7;
    text-decoration: underline;
}

.order-state-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-state-link {
    margin-top: 5px;
    display: block;
}


/* 최종 결제 금액란 */
.payment-info-container {
    margin-bottom: 100px;
    font-size: 13px;
    margin-top: 130px;
}

.payment-container {
    border-top: solid #ddd 1px;
    margin-top: 1.5vh;
    padding-top: 4vh;
    width: 350px;
    font-size:18px;
    padding-left: 20px;
}

.payment-price {
    margin-left: 20%;
}




/******************** 모달 ***********************/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-background {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
    position: absolute;
    background-color: #fff;
    width: 80vw;
    height: 70vh;
    padding: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modalBox button {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.hidden {
    display: none;
}


.modal-title,
.modal-rate-container,
.modal-content-container,
.modal-image-container,
.review-register-container {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    /* border: solid black 1px; */
}

.exit-button {
    right: 10px;
    position: absolute;
    cursor: pointer;
}

.modal-title {
    height: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 40px;
    border-bottom: solid #ccc 1px;
}

.modal-kor {
    font-weight: bold;
    margin-bottom: 2%;
    display: inline-block;
    margin-right: 8%;
}

.content-value {
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    border: solid #ccc 1px;
}

.input-file {
    font-size: 12px;
}

.review-register-button {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 15px;
    color: white;
    text-align: center;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #474747;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.review-register-button:hover {
    background-color: #000;
}



/* 이미지 관련 */
.modal-image-unit {
    max-width: 28%;
    height: auto;
    margin: 2% 2%;
}

.modal-image-container {
    margin-top: 6%;
}

.modal-images {
    margin-top: 3%;
}



/* 별점 관련 */
.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star .span {
    width: 0;
    position: absolute;
    left: 0;
    color: #FFB900;
    overflow: hidden;
    pointer-events: none;
}


/* 모달 스크롤바 디자인 */
.modalBox::-webkit-scrollbar {
    width: 10px;
}

.modalBox::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.modalBox::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}


/* 세부 정보 추가 - 반응형에서 삭제 필요 */
.items-header {
    display: none;
}

.product-quantity {
    padding: 0px 0px 20px 20px;
}

.product-quantity:before {
    content: '수량: ';
}

.total-price:after {
    content: ' 원';
}

.product-name-options {
    font-size: 11.5px;
}




/********** Tablet **********/
@media (min-width: 768px) {
    .order-container {
        width: 90vw;
    }

    .modalBox {
        width: 500px;
        height: 750px;
    }

    .product-name-options {
        font-size: 12.5px;
    }

    .payment-container {
        width: 400px;
        font-size: 20px;
    }

    .order-title,
    .recipient-header-eng,
    .product-header-eng,
    .payment-header-eng {
        margin-left: 0px;
    }

    .order-date-container,
    .payment-container {
        padding-left: 0px;
    }


    /* 수령인, 휴대전화, 배송지 주소 컨테이너 */
    .recipient-info-all {
        padding: 15px 15px;
        border: solid #ccc 1px;
    }

    .recipient-info-all span {
        display: inline-block;
    }

    .recipient-info-all span:first-of-type {
        margin-bottom: 0px;
    }

    .recipient-info-all span:last-of-type {
        margin-top: 0px;
        font-size: 13px;
        color: #4a4a4a;
    }

    /******************상품정보*******************/
    .item-container {
        grid-template-columns: 2.5fr 1fr 1fr 1fr;
        grid-template-areas: "pno pq tp osb";
        place-items: center;
    }


    /* 세부정보 삭제 */
    .items-header {
        display: grid;
    }

    .product-name-options {
        padding-left: 40px;
    }

    .product-quantity {
        padding: 0px;
    }

    .product-quantity::before {
        content: '';
    }

    .total-price:after {
        content: '';
    }

    .order-state-box {
        padding-top: 0px;
    }
}



/********** Laptop **********/
@media (min-width: 1024px) {
    .order-container {
        max-width: 1400px;
    }
}