.products-layout {
  display: flex;
  width: 100%;
  padding: 120px;
}

.empty-space {
  width: 30%;
  background-color: rgb(33, 164, 164);
}

.content-space {
  width: 100%;
  background-color: bisque;
}

.grid {
  display: grid;
  column-gap: 16px;
  padding: 16px;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.col {
  background-color: pink;
  margin-bottom: 16px;
  padding: 16px;
}

.img-container {
  width: 100%;
}

.grid-img {
  display: block;
  width: 100%;
  height: 225px;
  object-fit: cover;
}
