input {
    cursor: pointer;
}

.order-list-container {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.order-list-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 2.5vh;
}

.order-state-container {
    border-bottom: solid #ddd 1px;
    padding-bottom: 2vh;
}

.product-prepare-link,
.product-delivery-link,
.delivery-complete-link {
    display: inline-block;
    font-weight: bold;
    color: #bbb;
}

.product-prepare-link:hover,
.product-delivery-link:hover,
.delivery-complete-link:hover {
    text-decoration: underline;
    color: #bbb;
}

.product-delivery-link {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.items-header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 15px 0px;
    font-size: 12.5px;
    font-weight: bold;
    border: solid #ddd 1px;
    margin-top: 7vh;
}

.items-container {
    margin-bottom: 10vh;
}

.item-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
    font-size: 12.5px;
    font-weight: bold;
    border: solid #ddd 1px;
    margin-top: -1px;
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 2% 0% 2% 15%;
}

.image-box {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    cursor: pointer;
}

.options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 20px;
}

.product-name {
    display: inline-block;

}

.options {
    display: inline-block;
    margin-top: 2px;
    color: #777;
}

.price-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quantity {
    margin-top: 0.5vh;
    color: #777
}

.order-detail-link:hover,
.order-state-link:hover {
    color: #485fc7;
    text-decoration: underline;
}

.order-state-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-state-link {
    margin-top: 0.5vh;
    display: block;
}



.no-item-container {
    border: solid #ddd 1px;
    margin-top: -1px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 12px;
    color: #777;
    font-weight: bold;
}




/******************** 모달 ***********************/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
    position: absolute;
    background-color: #fff;
    width: 500px;
    height: 750px;
    padding: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modalBox button {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.hidden {
    display: none;
}


.modal-title,
.modal-rate-container,
.modal-content-container,
.modal-image-container,
.review-register-container {
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 14px;
    /* border: solid black 1px; */
}

.exit-button {
    right: 10px;    
    position: absolute;
    cursor: pointer;
}

.modal-title {
    height: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: solid #ccc 1px;
}

.modal-kor {
    font-weight: bold;
    margin-bottom: 2%;
    display: inline-block;
    margin-right: 8%;
}

.content-value {
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    border:solid #ccc 1px;
}

.input-file {
    font-size: 12px;
}

.review-register-button {
    font-size: 1.1rem;
    font-weight: bold;
    width: 30%;
    height: 5%;
    padding: 10px 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #474747;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.review-register-button:hover {
    background-color: #000;
}



/* 이미지 관련 */
.modal-image-unit {
    max-width: 28%;
    height: auto;
    margin: 2% 2%;
}

.modal-image-container {
    margin-top: 6%;
}

.modal-images {
    margin-top: 3%;
}



/* 별점 관련 */
.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star .span {
    width: 0;
    position: absolute;
    left: 0;
    color: #FFB900;
    overflow: hidden;
    pointer-events: none;
}


/* 모달 스크롤바 디자인 */
.modalBox::-webkit-scrollbar {
    width: 10px;
}

.modalBox::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.modalBox::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}