<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="admin-category.css" />
    <script src="admin-category.js" type="module" defer></script>
  </head>
  <body>
      <div id="header"></div>
      <div id="category"></div>
      <div class="category-article">
        <div class="category-container">
          <h2 class="category-title">카테고리 관리</h3>
          <div class="wrap-category">
            <h3 class="category-info">카테고리를 추가, 수정 및 삭제할 수 있습니다.</h3>
            <div class="wrap-items">
              <div class="wrap-items-helper">
              </div>
              <div class="add-box">
                <i id="three-bar" class="fa fa-plus"></i>카테고리 추가
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
