@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&family=Rancho&display=swap');

/* 가장 외부 감싸는 박스 (안보임) */
.category-article {
  height: 90vh;
}

/* 카테고리 관리 글씨 겉에 감싸는 박스 */
.category-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vmin;
  width: 70vmin;
}

/* 카테고리 관리 글씨 박스 */
.category-title {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1vmin;
  font-weight: bold;
}

/* 카테고리 바로 밑 박스 */
.wrap-category {
  border: solid #aaa 1px;
  padding: 3vmin;
}

/* '카테고리를 추가, 수정 및 삭제할 수 있습니다' 박스 */
.category-info {
  font-size: 0.85rem;
  margin-bottom: 2.5vmin;
  color: #555;
}

/* 푸른색 배경 박스 */
.wrap-items {
  border: solid #aaa 1px;
  padding: 0.7vmin 0.7vmin;
  background-color: #e7edf3;
  color: black;
}

/* 카테고리 박스 */
.item-box {
  border: solid #aaa 1px;
  margin: 0.2vmin 0.2vmin;
  padding: 1.5vmin 4vmin;
  background-color: white;
  list-style: none;
  font-size: 1.2rem;
}

/* 폰트어썸 아이콘(햄버거바, 플러스) */
#three-bar {
  font-size: 0.8rem;
  margin-right: 1.5vmin;
  color: #555;
}

/* 카테고리명 박스 */
.category {
  cursor: default;
}

/* 카테고리 추가 박스 */
.add-box {
  border: dotted #aaa 1px;
  margin: 0.2vmin 0.2vmin;
  padding: 1.5vmin 4vmin;
  margin-top: 1vmin;
  background-color: transparent;
  cursor: pointer;
}

/* 버튼 속성 */
.info-btn {
  padding-top: 2px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  float: right;
  font-size: 12px;
}

.btn {
  border: solid #c5cdd7 1px;
  padding-top: 2px;
  width: 40px;
  height: 23px;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 8%);
  color: #333;
}
