.register-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.title {
  color: #474747;
  font-size: 1.3rem;
}

.register-user-form-box {
  width: 30rem;
}

.register-user-form-box .title {
  text-align: center;
}

.register-user-form-box .button {
  font-weight: bold;
}

#submitButton {
  background-color: #474747;
}

#submitButton:hover {
  box-shadow: 0px 0px 10px 3px rgb(220, 220, 220);
}