@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&family=Rancho&display=swap');

.article-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-image {
    display: block;
    max-height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}


.prev, .next {
    font-size: 3vmin;
    color: white;
    display: inline-block;
}

.prev:hover,
.next:hover {
    color: white;
}

.prev-box, .next-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 6vmin;
    height: 6vmin;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    visibility: hidden;
}

.prev-box {
    position: absolute;
    left: 0;
}

.next-box {
    position: absolute;
    right: 0;
}

.info-container {
    padding-top: 20px;
    width: 80vw;
    height: 550px;
    margin-right: 5%;
}

.product-name-container {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.product-info-container {
    color: #777;
    font-size: 14px;
}

.product-size-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.price-kor, .size-kor, .color-kor, .quantity-kor, .total-price-kor {
    display: inline-block;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
}


.quantity-wrap {
    background-color: #eee;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    font-display: row;
    justify-content: center;
    align-items: center;
}

.quantity {
    width: 25px;
    height: 25px;
    font-size: 12px;
    border: solid #eee 1px;
    text-align: center;
}


.buy-container {
    width: 100%;
    height: 8%;
    margin-top: 5vmin;
    background-color: #777;
    color:white;
    font-weight: bold;
    font-size: 14px;
} 

.cart-container {
    width: 100%;
    height: 8%;
    margin-top: 1vmin;
    font-weight: bold;
    border: #aaa solid 1px;
    font-size: 14px;
}

.buy-container, .cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buy-container:hover {
    box-shadow: 0px 0px 10px 1px rgb(220, 220, 220);
}

.cart-container:hover {
    box-shadow: 0px 0px 10px 1px rgb(220, 220, 220);
}


.product-selected-container {
    padding: 1vh 1vw;
}

.select {
    font-size: 0.7rem;
    width: 40%;
    background-color: white;
    border: solid #ccc 1px;
    width: 170px;
}

.selected-option {
    border: solid #ccc 1px;
    font-size: 12px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1.8fr 1.8fr 1.3fr 0.2fr;
    padding: 1vh 1vw;
    margin-top: -1px;
}

.option-sort-helper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cancel {
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}


/* 리뷰 */
.review-container-helper {
    width: 90vw;
    margin: 10vh auto;
    font-weight: bold;
    font-size: 14px;
}

.review-container-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2%;
    padding-top: 3%;
}


.product-name-options,
.review-image {
    padding: 10px 30px;
}

.review-head,
.review-rate,
.review-content {
    padding: 10px 50px;
}

.review-container {
    border: solid #ccc 1px;
    padding-top: 20px;
    margin-top: -1px;
}

.review-head {
    margin-top: 5px;
}

.product-name-options {
    display: flex;
}

.image-box {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    cursor: pointer;
}


.options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 20px;
}
  
.product-name {
    display: inline-block;

}

.options {
    display: inline-block;
    margin-top: 2px;
    color: #999;
}


.review-rate {
    font-size: 18px;
}

.review-image-unit {
    width: auto;
    max-height: 250px;
    margin: 15px 15px;
}

.review-date {
    color: #999;
    margin-bottom: 25px;
}


/* 별점 css */
.star {
    position: relative;
    font-size: 18px;
    color: #eee;
}

.star-color {
    /* width: 30%; */
    position: absolute;
    left: 0;
    color: #FFB900;
    overflow: hidden;
    pointer-events: none;
}




/********** Tablet **********/
@media (min-width: 768px) {
    .article-container {
        justify-content: center;
        flex-direction: row;
        margin: 10vh auto;
        /* user-select: none; */
    }
    
    .info-container {
        padding-top: 50px;
        width: 500px;
        height: 600px;
        margin-right: 5%;
    }

    .image-container {
        width: 500px;
        height: 500px;
        margin-right: 10%;
        margin-left: 5%;
    }

    .main-image {
        max-width: 100%;
        height: auto;
    }
    
    .prev, .next {
        font-size: 2.5vmin;
    }
    
    .prev-box, .next-box {
        width: 4vmin;
        height: 4vmin;
    }
        
    .review-container-helper {
        width:600px;
    }
}




/********** Laptop **********/
@media (min-width: 1024px) {

    .image-container {
        width: 500px;
        height: 640px;
        margin-right: 10%;
        margin-left: 5%;
    }

    .info-container {
        padding-top: 50px;
        width: 500px;
        height: 600px;
        margin-right: 5%;
    }

    .product-selected-container {
        padding: 1vh 1vw;
    }

    .price-kor, .size-kor, .color-kor, .quantity-kor, .total-price-kor {
        width: 130px;
        font-size: 15px;
    }
    

    .select {
        font-size: 0.7rem;
        width: 200px;
    }
    
    .selected-option {
        font-size: 12px;
        padding: 7px 10px;
        margin-top: -1px;
        grid-template-columns: 2.3fr 1.5fr 1.2fr 0.3fr;
    }
    
    .option-sort-helper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .cancel {
        font-size: 18px;
    }

    .buy-container,
    .cart-container {
        font-size: 16px;
    }
    

    .review-container-helper {
        width: 800px;
    }
}