<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>제품 상세</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/vividclothes-fabicon.png" />
    <!-- bulma css 관련 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product.css" />
    <script src="product.js" type="module" defer></script>
  </head>
  <body>
    <div id="header"></div>
    <div id="category"></div>
    <div class="article-container">
      <div class="image-container">
        <img src="" alt="product image" class="main-image" />
        <div class="prev-box"><a href="#" class="prev">❮</a></div>
        <div class="next-box"><a href="#" class="next">❯</a></div>
      </div>
      <div class="info-container">
        <div class="product-name-container">
          <span class="product-name"></span>
        </div>
        <div class="product-info-container">
          <span class="product-info"></span>
        </div>
        <hr class="horizen" />
        <div class="product-price-container">
          <span class="price-kor">가격</span>
          <span class="price-text"></span>원
        </div>
        <div class="option-container">
          <div class="product-size-container">
            <span class="size-kor">사이즈</span>
            <select name="size" class="size-select select">
              <option value="">[필수] 옵션을 선택해주세요</option>
            </select>
          </div>
          <div class="product-color-container">
            <span class="color-kor">색상</span>
            <select name="color" class="color-select select">
              <option value="">[필수] 옵션을 선택해주세요</option>
            </select>
          </div>
        </div>
        <hr class="horizen" />
        <div class="product-selected-container"></div>
        <hr class="horizen" />
        <div class="total-price-container">
          <span class="total-price-kor">총 상품 금액</span>
          <span class="total-price-text"></span>원
        </div>
        <div class="buy-container">
          <span class="buy-text">BUY IT NOW</span>
        </div>
        <div class="cart-container">
          <span class="cart-text">ADD TO CART</span>
        </div>
      </div>
    </div>
    <div class="review-container-helper">
      <h2 class="review-container-title"></h2>
    </div>
    <div id="pagination"></div>
  </body>
</html>
