.article-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 89vh;
    width: 100vw;
    user-select: none;
}

.image-container {
    width: 50vmin;
    height: 64vmin;
    margin-right: 22vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-size: cover;
    background-position: center center;
    background-repeat: none; */
    /* box-shadow: 0px 0px 20px 1px rgb(230, 230, 230); */
}

.main-image {
    display: block;
    /* max-width: 100%;
    height: auto; */
    max-height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}


.prev, .next {
    font-size: 2.5vmin;
    color: white;
    display: inline-block;
}

.prev:hover,
.next:hover {
    color: white;
}

.prev-box, .next-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4vmin;
    height: 4vmin;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    visibility: hidden;
}

.prev-box {
    position: absolute;
    left: 0;
}

.next-box {
    position: absolute;
    right: 0;
}

.info-container {
    width: 50vmin;
    height: 64vmin;
}

.product-name-container {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 1.2vmin;
}

.product-info-container {
    color: #777;
    font-size: 15px;
}

.product-size-container {
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
}

.price-kor, .size-kor, .color-kor, .quantity-kor, .total-price-kor {
    display: inline-block;
    width: 130px;
    font-weight: bold;
}


.quantity-wrap {
    background-color: #eee;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    font-display: row;
    justify-content: center;
    align-items: center;
}

.quantity {
    width: 25px;
    height: 25px;
    font-size: 12px;
    border: solid #eee 1px;
    text-align: center;
}


.buy-container {
    width: 100%;
    height: 8%;
    margin-top: 5vmin;
    background-color: #777;
    color:white;
    font-weight: bold;
} 

.cart-container {
    width: 100%;
    height: 8%;
    margin-top: 1vmin;
    font-weight: bold;
    border: #aaa solid 1px;
}

.buy-container, .cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buy-container:hover {
    box-shadow: 0px 0px 10px 1px rgb(220, 220, 220);
}

.cart-container:hover {
    box-shadow: 0px 0px 10px 1px rgb(220, 220, 220);
}


.product-selected-container {
    padding: 1vh 1vw;
}

.select {
    font-size: 0.7rem;
    width: 40%;
    background-color: white;
    border: solid #ccc 1px;
}

.selected-option {
    border: solid #ccc 1px;
    font-size: 12px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1fr 0.3fr;
    padding: 1vh 1vw;
    margin-top: -1px;
}

.option-sort-helper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cancel {
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}




/********************* 리뷰 *************************/

.review-container-helper {
    width:800px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;

    font-weight: bold;
    font-size: 14px;

    padding: 25px 25px;
}

.review-container-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2%;
    padding-top: 3%;
}


.review-head,
.review-option,
.review-rate,
.review-content,
.review-image {
    padding: 10px 30px;
}

.review-container {
    border: solid #ccc 1px;
    padding: 15px 15px;
    margin-top: -1px;
}

.review-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.review-rate {
    font-size: 18px;
}

.review-image-unit {
    width: auto;
    max-height: 250px;
    margin: 15px 15px;
}

.review-date,
.review-option {
    color: #999;
}



/* 별점 css */
.star {
    position: relative;
    font-size: 18px;
    color: #eee;
}

.star-color {
    /* width: 30%; */
    position: absolute;
    left: 0;
    color: #FFB900;
    overflow: hidden;
    pointer-events: none;
}