@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&family=Rancho&display=swap');

.order-container {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    font-weight: bold;
}

.order-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: solid #ddd 1px;
}

.recipient,
.phone,
.postcode,
.postcodeButton,
.address1,
.address2 {
    border: solid #ccc 1px;
    height: 24px;
}


/* 수령자 정보, 상품 정보 컨테이너 */
.recipient-info-container,
.product-info-container {
    font-size: 13px;
    margin-top: 50px;
}


/* 수령자 정보, 상품 정보 헤더 글자 */
.recipient-header-eng,
.product-header-eng {
    font-size: 1.2rem;
}

.recipient-header-kor,
.product-header-kor {
    font-size: 0.7rem;
    padding-left: 5px;
    color: #777;
}

.recipient-container {
    margin-top: 15px;
}

/* 수령인, 휴대전화, 배송지 주소 컨테이너 */
.recipient-info-all {
    padding: 15px 15px;
    border: solid #ccc 1px;
}

/* 휴대전화 컨테이너 */
.phone-container {
    margin: -1px 0px;
}

/* 주소 컨테이너 */
.address-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* 수령자 정보 왼쪽 글자들 박스 */
.recipient-info-kor {
    display: inline-block;
    width: 200px;
}


/* 수령인, 휴대전화, 우편번호 입력란 */
.recipient,
.phone,
.postcode {
    width: 150px;
}


/* 우편번호, 주소1 입력란 */
.postcode,
.address1 {
    background-color: #eee;
}


/* 주소1, 주소2 입력란 */
.address1,
.address2 {
    width: 500px;
    display: block;
    margin-top: 5px;
}


/* 우편번호 입력란, 주소찾기 버튼 컨테이너 */
.search-address-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


/* 주소찾기 버튼 */
.postcodeButton {
    background-color: #eee;
    ;
    width: 90px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}


.product-info-container {
    font-size: 13px;
    margin-top: 50px;
}



/******************상품정보*******************/

.items-container {
    margin-top: 15px;
}

.items-header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    text-align: center;
    padding: 15px 0px;
    font-size: 12.5px;
    font-weight: bold;
    border: solid #ddd 1px;
    margin-top: -1px;
}

.item-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    place-items: center;
    text-align: center;
    font-size: 12.5px;
    font-weight: bold;
    border: solid #ddd 1px;
    margin-top: -1px;
}

.product-name-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 2% 0% 2% 20%;
}

.image-box {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    cursor: pointer;
    background-image: url('/home-img3.jpg');
}

.options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 20px;
}

.product-name {
    display: inline-block;
}

.options {
    display: inline-block;
    margin-top: 2px;
    color: #777;
}


/* 결제하기 버튼 부분 */
.foot-container {
    margin: 100px 0px 150px 0px;
    text-align: center;
}

.order-button {
    background-color: #0078FF;
    border: none;
    color: white;
    padding: 15px 100px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }