<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주문서 작성</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/vividclothes-fabicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="order.css" />
    <script src="order.js" type="module" defer></script>
    <!-- 카카오 우편번호 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </head>
<body>
    <div id="header"></div>
    <div id="category"></div>
    <div class="order-container">
        <h1 class="order-title">주문서 작성</h1>
        <div class="recipient-info-container">
            <span class="recipient-header-eng">Recipient Info</span>
            <span class="recipient-header-kor">수령자 정보</span>
            <div class="recipient-container recipient-info-all">
                <span class="recipient-info-kor">수령인</span>
                <input type="text" class="recipient">
            </div>
            <div class="phone-container recipient-info-all">
                <span class="recipient-info-kor">휴대전화</span>
                <input type="text" class="phone">
            </div>
            <div class="address-container recipient-info-all">
                <span class="recipient-info-kor">배송지 주소</span>
                <div class="address-input-container">
                    <div class="search-address-container">
                        <input type="text" class="postcode" disabled>
                        <input type="button" class="postcodeButton" value="주소 찾기">
                    </div>
                    <input type="text" class="address1" disabled>
                    <input type="text" class="address2" placeholder="상세 주소를 입력해주세요.">
                </div>
            </div>
        </div>
    
        <div class="product-info-container">
            <span class="product-header-eng">Product Info</span>
            <span class="product-header-kor">상품 정보</span>
    
            <div class="items-container">
                <div class="items-header">
                    <div class="header-product-name-options">상품 정보</div>
                    <div class="header-quantity">수량</div>
                    <div class="header-total-price">주문금액</div>
                </div>
                <div class="items-body"></div>
            </div>
            <div class="foot-container">
                <input class="order-button" type="button">
            </div>
        </div>
    </div>
  </body>
</html>
