@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&family=Rancho&display=swap');

* {
  margin: 0;
  padding: 0;
}

.div-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.slide, .img1, .img2, .img3, .img4 {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  font-weight: bold;
  font-size: 1rem;
}

.slide {
  width: 100vw;
  height: 70vh;;
}

.img1, .img2, .img3, .img4 {
  width: calc(calc(100vw / 2) - 8px);
  height: calc(calc(70vh / 2));
  margin-top: 4px;
  cursor: pointer;
}

.imgFloat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #222;
  background: rgb(255,255,255,0.2);
}


/* 테블릿 */
@media (min-width: 768px) {
  .div-container {
    margin: 7% 0;
  }
  
  .main-img-container {
    display: grid;
    grid-gap: 5px;
    height: 60vmax;
    width: 87vmax;
    grid-template-columns: 2.3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "sl img1 img2"
                         "sl img3 img4";
  }
  
  .main-img-container div {
    display: grid;
  }
  
  .slide, .img1, .img2, .img3, .img4 {
    width: 100%;
    height: 100%;
  }
  
  .slide { grid-area: sl; }
  .img1 { grid-area: img1; }
  .img2 { grid-area: img2; }
  .img3 { grid-area: img3; }
  .img4 { grid-area: img4; }
  
  .imgFloat {
    width: 100%;
    height: 100%;
    color: #222;
    background: rgb(255,255,255,0.2);
  }
  
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .div-container {
    margin: 3% 0;
  }

  .main-img-container {
    height: 40vmax;
    width: 63vmax;
  }
  
  .imgFloat {
    color: rgb(0,0,0,0);
    background: rgb(255,255,255,0);
  }
  
  .imgFloat:hover {
    color: rgb(0,0,0,1);
    background: rgb(255,255,255, 0.9);
  }
  
}


/* 이미지 컨테이너 - 반응형 적용 완료 */
.a-link {
  color: rgb(40, 40, 40);
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

.card {
  position: relative;
  height: 100%;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

.subtitle {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 14px;
  text-align: end;
}

.medias {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 12px;
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.contents {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 34px;
}

hr {
  background-color: rgb(213, 213, 213);
}

.products-layout {
  display: flex;
  width: 70%;
  margin: 0px auto;
  padding: 35px;
}

.content-space {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 35px;
  column-gap: 35px;
}

@media (max-width: 550px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .products-layout {
    display: flex;
    width: 88%;
    margin: 80px auto;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .products-layout {
    display: flex;
    width: 85%;
    margin: 80px auto;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .products-layout {
    display: flex;
    width: 80%;
    margin: 80px auto;
  }
}

@media (min-width: 960px) and (max-width: 1320px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .products-layout {
    display: flex;
    width: 75%;
    margin: 80px auto;
  }
}

.col {
  background-color: pink;
  margin-bottom: 16px;
}

.img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.buynow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
  color: whitesmoke;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.grid-img {
  display: block;
  background-color: transparent;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.3s, filter 0.5s ease-in-out;
  filter: brightness(100%);
  z-index: 99;
}

.grid-img:hover {
  filter: brightness(70%);
  transform: scale(1.1);
}

.grid-img:hover ~ .buynow {
  visibility: visible;
  opacity: 1;
  transform: scale(1.2);
}
