<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VividClothes</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/vividclothes-fabicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div id="header"></div>
    <div id="category"></div>
    <div class="div-container">
      <div class="img-container">
        <div class="slide"></div>
        <div class="img1">
          <div class="imgFloat">CITYBREEZE</div>
        </div>
        <div class="img2">
          <div class="imgFloat">ANDYOU</div>
        </div>
        <div class="img3">
          <div class="imgFloat">POTRY</div>
        </div>
        <div class="img4">
          <div class="imgFloat">WOOYOUNGMI</div>
        </div>
      </div>
    </div>
  </body>
</html>
