<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="login.css" />
    <script src="login.js" type="module" defer></script>
    <!-- google login -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div id="header"></div>
    <div id="category"></div>
    <!-- 로그인 폼(Form) -->
    <div class="login-form-container">
      <form class="box login-form-box" id="loginForm">
        <p class="title">어서오세요!</p>
        <div class="field">
          <label class="label" for="emailInput">이메일</label>
          <div class="control">
            <input
              class="input"
              id="emailInput"
              type="email"
              placeholder="abc@example.com"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="field mb-5">
          <label class="label" for="passwordInput">비밀번호</label>
          <div class="control">
            <input
              class="input"
              id="passwordInput"
              type="password"
              placeholder="********"
              autocomplete="on"
            />
          </div>
        </div>

        <button class="button is-info is-fullwidth" id="submitButton">
          로그인하기
        </button>

        <div class="button is-info is-fullwidth" id="localSubmitButton">
          로그인
        </div>
        <div class="button is-info is-fullwidth" id="kakaoSubmitButton">
          <img src="/kakao_logo.png" alt="kakao logo" class="kakaoLogo" />
          카카오 로그인
        </div>
        <!-- <div class="button is-info is-fullwidth" id="googleSubmitButton">
          <img src="/google_logo.png" alt="google logo" class="googleLogo" />
          구글 로그인
        </div> -->
        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
        <!-- data-client_id 어떻게 숨김? -->
        <div
          id="g_id_onload"
          data-client_id="196598776648-dbu1p15dcgeotoi1rirs6eu63v3l5qom.apps.googleusercontent.com"
          data-login_uri="http://localhost:5000/api/google/login"
          data-auto_select="true"
        ></div>
        <div
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      </form>
    </div>
  </body>
</html>
